<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
    <link href="/css/layui.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">联系电话：</label>
                            <div class="col-sm-3">
                                <input id="phone" name="phone" class="form-control" type="text">
                            </div>
                            <label class="col-sm-1 control-label">收货地址：</label>
                            <div class="col-sm-3">
                                <input id="address" name="address" class="form-control" type="text">
                            </div>
                            <label class="col-sm-1 control-label">收件人：</label>
                            <div class="col-sm-3">
                                <input id="receiver" name="receiver" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">快递号：</label>
                            <div class="col-sm-3">
                                <input id="expressNo" name="expressNo" class="form-control" type="text">
                            </div>
                            <label class="col-sm-1 control-label">快递费：</label>
                            <div class="col-sm-3">
                                <input id="expressAmount" name="expressAmount" class="form-control" type="text">
                            </div>
                            <label class="col-sm-1 control-label">支付方式：</label>
                            <div class="col-sm-3">
                                <input id="payWay" name="payWay" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-5">
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div>
                    <table id="soItemTable">
                    </table>
                    <table class="layui-table"  data-controller="table" id="productInfo" lay-size="sm" >
                        <colgroup>
                            <col>
                            <col>
                            <col >
                            <col >
                            <col  >
                            <col >
                            <col >
                            <col >
                            <col >
                            <col >
                            <col >
                            <col >
                            <col >
                            <col >
                        </colgroup>
                        <thead>
                        <tr>
                            <th>商品编码</th>
                            <th>商品名称</th>
                            <th>调拨数量</th>
                            <th>调拨价</th>
                            <th>商品备注</th>
                            <th>生产日期</th>
                            <th>有效期至</th>
                            <th>批号</th>
                            <th>品质分类</th>
                            <th>批准文号</th>
                            <th>生产厂家</th>
                            <th>规格</th>
                            <th>剂型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="toItems">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:include="include::footer"></div>
<script src="/js/layui.js"></script>
<script type="text/javascript" src="/js/appjs/so/so_add.js">
</script>
</body>
</html>
