<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${so.id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">订单编码：</label>
                            <div class="col-sm-3">
                                <input id="code" name="code" th:value="${so.code}" class="form-control" type="text">
                            </div>
                            <input id="itemStr" name="itemStr" class="form-control" type="hidden">
                            <label class="col-sm-1 control-label">联系电话：</label>
                            <div class="col-sm-3">
                                <input id="phone" name="phone" th:value="${so.phone}" class="form-control" type="text">
                            </div>
                            <label class="col-sm-1 control-label">收货地址：</label>
                            <div class="col-sm-3">
                                <input id="address" name="address" th:value="${so.address}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">收件人：</label>
                            <div class="col-sm-3">
                                <input id="receiver" name="receiver" th:value="${so.receiver}" class="form-control"
                                       type="text">
                            </div>
                            <label class="col-sm-1 control-label">快递号：</label>
                            <div class="col-sm-3">
                                <input id="expressNo" name="expressNo" th:value="${so.expressNo}" class="form-control"
                                       type="text">
                            </div>
                            <label class="col-sm-1 control-label">快递费：</label>
                            <div class="col-sm-3">
                                <input id="expressAmount" name="expressAmount" th:value="${so.expressAmount}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">订单金额：</label>
                            <div class="col-sm-3">
                                <input id="orderAmount" name="orderAmount" th:value="${so.orderAmount}"
                                       class="form-control" type="text">
                            </div>
                            <label class="col-sm-1 control-label">支付方式：</label>
                            <div class="col-sm-3">
                                <select data-placeholder="--选择类别--" name="type" id="type"
                                        class="form-control chosen-select" tabindex="2">
                                    <option value="">-- 选择类别 --</option>
                                    <option th:each="payWatDict : ${payWatDicts}" th:value="${so.payWay}"
                                            th:text="${payWatDict.name}" th:if="${payWatDict.remarks ==checked}"
                                            th:selected="selected"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3 col-sm-offset-5">
                                <button type="submit" class="btn btn-primary">保存修改</button>
                            </div>
                        </div>
                        <div>
                            <table id="soItemTable">
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/so/so_edit.js">
</script>
</body>
</html>
