package ${package}.dao;

import ${package}.model.${className}DO;

import com.bootdo.common.dao.BaseDao;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao  extends BaseDao<${className}DO> {

}
