package ${package}.domain;

import com.bootdo.common.domain.BaseDO;
import lombok.Getter;
import lombok.Setter;
import java.util.Date;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments}
 * 表名：${tableName}
 * @author ${author}
 * @date ${datetime}
 */
@Getter
@Setter
public class ${className}DO extends BaseDO {

#foreach ($column in $columns)
	//$column.comments
	private $column.attrType $column.attrname;
#end
}
